In [30]:
import sqlite3
import pandas as pd

In [31]:
try:
	connection = sqlite3.connect('inventory.sqlite')

	# Getting all tables from sqlite_master
	sql_query = """SELECT name FROM sqlite_master WHERE type='table';"""

	# Creating cursor object using connect object
	cursor = connection.cursor()
	
	# executing our sql query
	cursor.execute(sql_query)
	
	# printing all tables list
	print(cursor.fetchall())

except sqlite3.Error as error:
	print("Failed to execute the above query", error)

[('FEATURE_SERVICES',), ('GROUP_MEMBERSHIP',), ('GROUPS',), ('MAP_FS_REL',), ('WEB_APPS',), ('WEB_MAPS',), ('OTHER_ITEMS',), ('SHARING',), ('USERS',), ('CATEGORIES',), ('TAGS',)]

In [32]:
FEATURE_SERVICES = pd.read_sql("SELECT * FROM FEATURE_SERVICES;",connection)
print(FEATURE_SERVICES.shape)
FEATURE_SERVICES.head(5)

(2561, 18)

,OID,ITEM_TYPE,ITEM_NAME,FOLDER,SHARED,EVERYONE,ORG,GROUPS,OWNER,CREATEDATE,MODATE,ITEM_ID,ISVIEW,SOURCE_ITEM_ID,SOURCE_ITEM_NAME,SIZE,CONTENT_STATUS,ITEM_URL
0,0,Feature Service,$A$1:$K$698 by Category,None,public,1,1,1,129931_boston,2016-01-21 10:54:15,2018-09-20 12:23:31,69972a3a565545f58490d7ca7a8bc317,0,None,None,532480,,https://services.arcgis.com/sFnw0xNflSi8J0uh/a...
1,1,Feature Service,$A$1:$K$698 by Category - Copy,None,public,1,1,1,129931_boston,2016-01-21 10:54:15,2016-03-17 05:57:16,f0439a9150a24efab12120fb6dfe90f1,0,None,None,524288,,https://services.arcgis.com/sFnw0xNflSi8J0uh/a...
2,2,Feature Service,$A$1:$K$24 by Category,None,public,1,1,1,129931_boston,2016-01-21 13:21:43,2018-09-20 12:23:57,7886841eb02d418aaadcc06303fa86d2,0,None,None,32768,,https://services.arcgis.com/sFnw0xNflSi8J0uh/a...
3,3,Feature Service,(Haitian Creole) Project Oscar 2.0: Community ...,None,public,1,1,0,124986_boston,2021-04-08 19:08:49,2021-04-08 19:11:32,ec56624cabba43f289f960dde3ec3816,1,None,None,0,,https://services.arcgis.com/sFnw0xNflSi8J0uh/a...
4,4,Feature Service,(MIGRATION BACKUP) - BPDA_Urban_DesignDatabase,None,org,0,1,2,jcowart_bpda,2020-01-16 11:49:35,2020-06-26 05:47:40,8557bdfde4b54cbcb8b302adf2af216b,0,None,None,35110912,,https://services.arcgis.com/sFnw0xNflSi8J0uh/a...

In [33]:
GROUP_MEMBERSHIP = pd.read_sql("SELECT * FROM GROUP_MEMBERSHIP;",connection)
print(GROUP_MEMBERSHIP.shape)
GROUP_MEMBERSHIP.head(5)

(1975, 4)

,OID,GROUP_NAME,MEMBER,MEMBERTYPE
0,0,180 Western Ave Task Force and Public Meeting ...,tschwartzman_cob,OWNER
1,1,180 Western Ave Task Force and Public Meeting ...,tschwartzman_cob,ADMIN
2,2,Areaways mapping,170576_boston,OWNER
3,3,Areaways mapping,170576_boston,ADMIN
4,4,3D Scenario Viewer Core Team,jcowart_bpda,OWNER

In [34]:
GROUPS = pd.read_sql("SELECT * FROM GROUPS;",connection)
print(GROUPS.shape)
GROUPS.head(5)

(285, 8)

,OID,GROUP_NAME,OWNER,ADMINCOUNT,MEMBERCOUNT,ID,CREATEDATE,ITEMS
0,0,180 Western Ave Task Force and Public Meeting ...,tschwartzman_cob,1,0,5ced58e6867a43da83b313fc6ff6f225,2021-11-08 06:28:07,0
1,1,180 Western Ave Task Force and Public Meeting ...,tschwartzman_cob,1,0,6b214febd99844c999956d192f73a871,2021-11-08 06:28:05,0
2,2,3D Scenario Viewer Content,jcowart_bpda,1,0,f125056976624571aee5196e95d2ce84,2023-05-16 12:01:21,0
3,3,449 Cambridge St Public Meeting Attendees Group,tschwartzman_cob,1,0,55dc840ae6ce419fb9e528d9a50a24cf,2021-11-08 06:18:38,0
4,4,Areaways mapping,170576_boston,1,7,e8576df349eb46c080f6515ac7ebd61d,2022-08-25 10:08:37,1

In [35]:
MAP_FS_REL = pd.read_sql("SELECT * FROM MAP_FS_REL;",connection)
print(MAP_FS_REL.shape)
MAP_FS_REL.head(5)

(8725, 8)

,OID,WEBMAP_TITLE,WEBMAP_ID,LAYER_NAME,EDITABLE,LAYER_FILTER,LAYER_ITEM_ID,LAYER_URL
0,0,City Resource Map (For Digital New Residents ...,f9ee5d23b4c3478d9fd73a0644d2271e,City Resources,1,Notes <> 'Station',cff7c591f3794dcdb03d88499d98d8d1,https://services.arcgis.com/sFnw0xNflSi8J0uh/a...
1,1,City Resource Map (For Digital New Residents ...,f9ee5d23b4c3478d9fd73a0644d2271e,MBTA Commuter Rail,0,None,N/A,https://arcgisserver.digital.mass.gov/arcgisse...
2,2,City Resource Map (For Digital New Residents ...,f9ee5d23b4c3478d9fd73a0644d2271e,MBTA Rapid Transit,0,None,N/A,https://arcgisserver.digital.mass.gov/arcgisse...
3,3,City Resource Map (For Digital New Residents ...,f9ee5d23b4c3478d9fd73a0644d2271e,Basemap - BostonCityBasemap_WM,0,None,None,https://awsgeo.boston.gov/arcgis/rest/services...
4,4,(Internal) Land Audit Web Map,391f6fb586094eb6bdb044c20cb8be3b,Buildings (Editing),0,None,85c5e1c2841b47169e2072e2b65e484d,https://services.arcgis.com/sFnw0xNflSi8J0uh/a...

In [36]:
WEB_APPS = pd.read_sql("SELECT * FROM WEB_APPS;",connection)
print(WEB_APPS.shape)
WEB_APPS.head(5)

(707, 15)

,OID,ITEM_TYPE,ITEM_NAME,FOLDER,SHARED,EVERYONE,ORG,GROUPS,OWNER,CREATEDATE,MODATE,ITEM_ID,WEBMAP_ID,SIZE,CONTENT_STATUS
0,0,Web Mapping Application,01/04/2018 Storm Flooded Streets with FEMA 100...,None,public,1,1,0,mclane,2018-01-05 10:07:54,2018-01-05 10:08:46,529ec6d5fdd64921a537821aca89d97f,None,1294,
1,1,Web Mapping Application,11 Zones,None,public,1,1,0,joycejohn,2012-09-21 08:11:21,2012-11-09 09:30:02,10d2f3455d634401ae185acc677619a6,None,421,
2,2,Web Mapping Application,2017 Boston Marathon Traffic Advisory,None,public,1,1,0,mclane,2017-04-07 07:42:28,2017-04-07 07:44:50,ad3b273bca9f4dab9cf24951c5ce8828,None,1265,
3,3,Web Mapping Application,2017 Farmers Markets and Fresh Truck Locations,None,public,1,1,0,mclane,2017-05-31 11:30:54,2017-06-13 09:09:16,2fb8a0c6a9d54a5784898f29eb0a5b9f,83b9f66cdcdc432fa4686729eb1d87ff,9387,
4,4,Web Mapping Application,2017 Snow Emergency Towing,None,org,0,1,0,mclane,2017-02-10 12:47:34,2018-01-03 12:14:45,0ac8889655db4e9d91447724ba994f7a,None,1269,

In [37]:
WEB_MAPS = pd.read_sql("SELECT * FROM WEB_MAPS;",connection)
print(WEB_MAPS.shape)
WEB_MAPS.head(5)

(1411, 14)

,OID,ITEM_TYPE,ITEM_NAME,FOLDER,SHARED,EVERYONE,ORG,GROUPS,OWNER,CREATEDATE,MODATE,ITEM_ID,SIZE,CONTENT_STATUS
0,0,Web Map,City Resource Map (For Digital New Residents ...,None,org,0,1,1,166412_boston,2022-11-04 11:53:46,2023-03-27 12:15:05,f9ee5d23b4c3478d9fd73a0644d2271e,18641,
1,1,Web Map,!2023 Potential speed hump zones mapped with o...,None,org,0,1,1,139229_boston,2022-11-21 15:12:21,2023-02-02 10:53:48,ee11d15e40fa43448948975378a9a977,19535,
2,2,Web Map,(ARCHIVE) Public Health Resource Map,None,public,1,1,1,BostonGIS,2022-03-23 07:50:35,2023-03-22 11:26:06,0b821da5bfe14f6a8692333c8926d4ae,159735,deprecated
3,3,Web Map,(Internal) Land Audit Web Map,None,org,0,1,0,133970_boston,2022-08-31 06:50:38,2023-06-13 07:22:09,391f6fb586094eb6bdb044c20cb8be3b,12042,org_authoritative
4,4,Web Map,(Public) Land Audit Web Map,None,public,1,1,0,133970_boston,2022-09-22 06:49:06,2023-03-13 09:04:24,1993cace6f1d47c583a4c72595873a01,16065,org_authoritative

In [38]:
OTHER_ITEMS = pd.read_sql("SELECT * FROM OTHER_ITEMS;",connection)
print(OTHER_ITEMS.shape)
OTHER_ITEMS.head(5)

(2836, 14)

,OID,ITEM_TYPE,ITEM_NAME,FOLDER,SHARED,EVERYONE,ORG,GROUPS,OWNER,CREATEDATE,MODATE,ITEM_ID,SIZE,CONTENT_STATUS
0,0,Form,(Cabo Verdean Creole) Project Oscar 2.0: Commu...,None,public,1,1,0,124986_boston,2021-04-05 15:41:50,2021-04-05 15:49:53,5c0dec295bf945ddb7af32caa0162b70,550200,
1,1,StoryMap,(ARCHIVE) WELCOME TO BOSTON!,None,org,0,1,1,166412_boston,2022-09-19 14:01:18,2023-02-13 10:09:34,fdefb84d96794ad79140e33eeb174a14,923105,
2,2,Web Experience,(Internal) Land Audit Tool,None,org,0,1,0,133970_boston,2022-09-14 12:33:12,2023-06-13 10:59:28,c90158fce3b3447da1775387083f20bd,1083027,org_authoritative
3,3,Form,(Haitian Creole) Project Oscar 2.0: Community ...,None,public,1,1,0,124986_boston,2021-04-08 19:04:31,2021-04-08 19:11:35,a3455958e6364caa9a50328d671585b3,549345,
4,4,Form,(Simplified Chinese) Project Oscar 2.0: Commun...,None,public,1,1,0,124986_boston,2021-04-08 19:15:11,2021-04-08 19:18:49,744deb10271c450d8b2596cdee128ee0,550944,

In [39]:
SHARING = pd.read_sql("SELECT * FROM SHARING;",connection)
print(SHARING.shape)
SHARING.head(5)

(2793, 3)

,OID,ITEM_ID,GROUP_NAME
0,0,2541d87eee474d8faf5cdcfaa8687a70,Areaways mapping
1,1,4ebaa0bb109b4840a573d9802772258d,2022 Bike/Active Transportation announcement
2,2,597950a08be04e1e83a50d05aaae8631,2022 Bike/Active Transportation announcement
3,3,976a93ca212742278e649341efc06e0e,2022 Bike/Active Transportation announcement
4,4,367fdf06ab864114b45530aa553ff4f2,2022 Bike/Active Transportation announcement

In [40]:
USERS = pd.read_sql("SELECT * FROM USERS;",connection)
print(USERS.shape)
USERS.head(5)

(2681, 9)

,OID,USERNAME,FIRSTNAME,LASTNAME,LEVEL,ROLE,CREATED,LAST_LOGIN,DESCRIPTION
0,0,007259_boston,,,1,Viewer,2023-03-01 10:54:47,2023-03-01 10:55:09,None
1,1,010077_boston,,,1,Viewer,2023-06-01 08:01:24,2023-06-01 08:01:38,None
2,2,008268_boston,,,1,Viewer,2023-02-10 09:41:49,2023-02-10 09:42:50,None
3,3,010092_boston,,,1,Viewer,2023-05-10 15:03:06,2023-05-10 15:03:07,None
4,4,008810_boston,,,1,Viewer,2022-04-26 09:54:24,2022-04-26 09:54:54,None

In [41]:
CATEGORIES = pd.read_sql("SELECT * FROM CATEGORIES;",connection)
print(CATEGORIES.shape)
CATEGORIES.head(5)

(55, 3)

   OID                           ITEM_ID                             CATEGORY
0    0  db54991b1e5e449aa43b1a6d24454898  /Categories/Health/Community Health
1    1  db54991b1e5e449aa43b1a6d24454898                  /Categories/Society
2    2  0fb6b7df1f7949daaf172afec8d68e35  /Categories/Health/Community Health
3    3  0fb6b7df1f7949daaf172afec8d68e35                  /Categories/Society
4    4  ced899a5baff4e7b9f3c57cfa17c7933  /Categories/Health/Community Health

In [42]:
TAGS = pd.read_sql("SELECT * FROM TAGS;",connection)
print(TAGS.shape)
TAGS.head(5)

(17633, 3)

   OID                           ITEM_ID                  TAG
0    0  f9ee5d23b4c3478d9fd73a0644d2271e        new residents
1    1  5c0dec295bf945ddb7af32caa0162b70              compost
2    2  5c0dec295bf945ddb7af32caa0162b70       sustainability
3    3  5c0dec295bf945ddb7af32caa0162b70         public space
4    4  fdefb84d96794ad79140e33eeb174a14  new residents guide

In [43]:
import civis
from pathlib import Path
from configparser import ConfigParser
import os

CONFIG_FILE =  Path('config.cfg')

config = ConfigParser()
config.read(CONFIG_FILE)
API_KEY = config.get('civis', 'api_key')

# Add environment variable for Civis API key.
os.environ['PYTHONPATH']='.'
os.environ['CIVIS_API_KEY']=API_KEY

In [44]:
civis.io.dataframe_to_civis(FEATURE_SERVICES,'Boston','sandbox.HR_agol_inventory_feature_services')

In [45]:
civis.io.dataframe_to_civis(GROUP_MEMBERSHIP,'Boston','sandbox.HR_agol_inventory_group_membership')

In [46]:
civis.io.dataframe_to_civis(GROUPS,'Boston','sandbox.HR_agol_inventory_groups')

In [47]:
civis.io.dataframe_to_civis(MAP_FS_REL,'Boston','sandbox.HR_agol_inventory_map_fs_rel')

In [48]:
civis.io.dataframe_to_civis(WEB_APPS,'Boston','sandbox.HR_agol_inventory_web_apps')

In [49]:
civis.io.dataframe_to_civis(WEB_MAPS,'Boston','sandbox.HR_agol_inventory_web_maps')

In [50]:
civis.io.dataframe_to_civis(OTHER_ITEMS,'Boston','sandbox.HR_agol_inventory_other_items')

In [51]:
civis.io.dataframe_to_civis(SHARING,'Boston','sandbox.HR_agol_inventory_sharing')

In [52]:
civis.io.dataframe_to_civis(USERS,'Boston','sandbox.HR_agol_inventory_users')

In [53]:
civis.io.dataframe_to_civis(CATEGORIES,'Boston','sandbox.HR_agol_inventory_categories')

In [29]:
civis.io.dataframe_to_civis(TAGS,'Boston','sandbox.HR_agol_inventory_tags')